<h2><%= t("global.devise.edit_settings") %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name, locale: locale), :html => { :method => :put, class: 'form-horizontal' }, ) do |f| %>
  <%= f.error_notification %>
  <%= error_messages_for(resource) %>

  <div class="inputs">
    <%= f.input :email, :required => true, :autofocus => false %>
    <%= f.input :first_name, required: false %>
    <%= f.input :last_name, required: false %>
    <%= f.input :current_password, :required => true %>
    <%= f.input :password, :autocomplete => "off", :required => false,
          hint: t("global.devise.leave_blank_if_no_change"), label: t("global.devise.new_password") %>
    <%= f.button :submit, t("global.actions.update"), class: 'controls' %>
  </div>

  <div class="form-actions">
    <%= link_to t("global.actions.cancel"), root_path(locale: I18n.locale), class: 'btn' %>
  </div>
<% end %>

<!-- <h3>Cancel my account</h3>

<p>Unhappy? <%#= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%#= link_to t("global.devise.back"), :back %>-->
