<h2><%= t('global.devise.sign_up') %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name, locale: locale), html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :email, :required => true %>
    <%= f.input :password, :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('global.devise.sign_up') %>
  </div>
<% end %>

<%= render "customers/links" %>
