<%= semantic_navigation :devise_nav, config: :bootstrap, class: 'nav nav-pills' do |n| %>
  <% n.item t('global.devise.sign_in'), new_session_path(resource_name, locale: locale) %>
  <% n.item t('global.devise.sign_up'), new_registration_path(resource_name, locale: locale) %>
  <% n.item t('global.devise.forgot_passwd'), new_password_path(resource_name, locale: locale) %>
<% end %>


