<% url = Eventutti::Application.routes.url_helpers %>

class Eventutti.Ui.OwnersEventsCalendar
  constructor: (@el) ->
    _.bindAll @
    locales = Eventutti.Utils.currentLocaleHash()
    locale = Eventutti.Utils.currentLocale()
    params = Eventutti.Utils.setLocale({})
    url = Eventutti.Utils.fillUrl(
      '<%= CGI.unescape url.owners_events_path(locale: '{locale}') %>',
      params
    )
    @el.fullCalendar _.extend(@options, locales['names'],
      header:
        left: 'prev,next today',
        center: 'title',
        right: 'agendaWeek,month'
      defaultView: 'agendaWeek',
      select: @newEvent #@createEvent
      eventDrop: @updateEvent
      eventResize: @updateEvent
      eventClick: @clickEvent
      ignoreTimezone: true
      eventSources: [{ url: url, ignoreTimezone: true }]
    )
      
  newEvent: (startDate, endDate, allDay, jsEvent, view) ->
    params = 
      event: 
        start_at: "" + startDate
        end_at: "" + endDate
        all_day: allDay
    params = Eventutti.Utils.setLocale(params)
    url = Eventutti.Utils.fillUrl(
      '<%= CGI.unescape url.new_owners_event_path(locale: '{locale}') %>',
      params
    )
    $.get(url, params).fail Eventutti.Utils.ajaxFail

  updateEvent: (event, dayDelta, minuteDelta, revertFunc) ->
    params = 
      id: event.id,
      event: 
        start_at: "" + event.start
        end_at: "" + event.end
        all_day: event.allDay
    params = Eventutti.Utils.setLocale(params)
    ajax = $.update(
      '<%= CGI.unescape url.owners_event_path('{id}', locale: '{locale}') %>',
      params
    )
    ajax.fail Eventutti.Utils.ajaxFail

  createEvent: (startDate, endDate, allDay, jsEvent, view) ->
    params =
      event: 
        start_at: "" + startDate,
        end_at: "" + endDate,
        all_day: allDay,
    params = Eventutti.Utils.setLocale(params)
    ajax = $.create(
      '<%= CGI.unescape url.owners_events_path(locale: '{locale}') %>',
      params
    )
    ajax.done (data, headers, xhr) =>
      @el.fullCalendar('refetchEvents')
      @el.fullCalendar('unselect')
    ajax.fail Eventutti.Utils.ajaxFail

  clickEvent: (event, jsEvent, view) ->
    params = { id: event.id }
    params = Eventutti.Utils.setLocale(params)
    url = Eventutti.Utils.fillUrl(
      '<%= CGI.unescape url.edit_owners_event_path('{id}', locale: '{locale}') %>',
      params
    )
    $.get(url).fail Eventutti.Utils.ajaxFail

  options:
    editable: true,
    height: 500,
    slotMinutes: 60,    
    axisFormat: 'HH:mm'
    timeFormat: 'HH:mm{ - HH:mm}'
    dragOpacity: "0.5",
    selectable: true,
    selectHelper: true
    columnFormat: 
      month: 'ddd'
      week: 'ddd dd.M'
      day: 'dddd dd.M'
