<% n.group t('global.misc.owners') do %>
  <% n.item t('global.devise.sign_up'), new_owner_registration_path(locale: locale),
    highlights_on: [proc { params[:controller] == 'devise/registrations' && resource_name == :owner }] %>
  <% n.item t('global.devise.sign_in'), new_owner_session_path(locale: locale),
    highlights_on: [proc { params[:controller] == 'devise/sessions' && resource_name == :owner }] %>
<% end %>

<% n.group t('global.misc.customers') do %>
  <% n.item t('global.devise.sign_up'), new_customer_registration_path(locale: locale),
    highlights_on: proc { params[:controller] == 'devise/registrations' && resource_name == :customer } %>
  <% n.item t('global.devise.sign_in'), new_customer_session_path(locale: locale),
    highlights_on: proc { params[:controller] == 'devise/sessions' && resource_name == :customer } %>
<% end %>
