<% n.group current_customer.name do %>
  <% n.item t('global.devise.edit_settings'), edit_customer_registration_path(locale: locale),
    highlights_on: proc { params[:controller] == 'devise/registrations' && resource_name == :customer } %>
  <% n.item t('global.devise.sign_out'), destroy_customer_session_path(locale: locale), link_html: { method: :delete } %>
<% end %>
