<% n.group locale do %>
  <% n.item "en", url_for(params.merge(locale: "en")), highlights_on: proc { locale == "en" } %>
  <% n.item "de", url_for(params.merge(locale: "de")), highlights_on: proc { locale == "de" } %>
<% end %>
