<% n.group current_owner.name do %>
  <% n.item t('global.actions.venue.manage'), owners_venues_path(locale: locale) %>
  <% n.item t('global.actions.event.manage'), owners_events_path(locale: locale) %>
  <% n.item t('global.devise.edit_settings'), edit_owner_registration_path(locale: locale) %>
  <% n.item t('global.devise.sign_out'), destroy_owner_session_path(locale: locale), link_html: { method: :delete } %>
<% end %>
