<div id="management_navigation" %>
  <% if action_name == "index" %>
    <%= link_to t("global.actions.back_to_home"), root_path(locale: I18n.locale) %>
  <% else %>
    <%= link_to t("global.actions.back_to_overview"), owners_venues_path(locale: I18n.locale) %>
  <% end %>
  <%= link_to t("global.actions.venue.new"), new_owners_venue_path(locale: I18n.locale), class: 'btn btn-primary pull-right' unless action_name == "new" %>
</div>
