<fieldset>
  <legend><%= Venue.model_name.human %></legend>
  <%= v.input :name, required: true %>
  <%= v.input :description, required: true %>
  <%= v.input :capacity, required: true %>
  <%= v.input :size, required: true %>
  <%= v.input :main_image, as: :file, required: false %>
  <%= v.association :venue_type %>
</fieldset>
<fieldset>
  <legend><%= Pricing.model_name.human %></legend>
  <%= v.simple_fields_for :pricing do |p| %>
    <%= p.input :full_day, required: true %>
    <%= p.input :deposit, required: false %>
  <% end %>
</fieldset>
<fieldset>
  <legend><%= Address.model_name.human %></legend>
  <%= render partial: "shared/address_form", locals: { f: v } %>
</fieldset>
