<div id="edit">
  <%= error_messages_for @venue %>
  <%= render partial: "owners/gallery_images/upload_form" %>
  <%= render partial: "management_navigation", locals: { action_name: controller.action_name } %>
  <%= simple_form_for @venue, url: owners_venue_path(@venue, locale: I18n.locale),
        method: 'put' do |v| %>
    <%= render partial: "venue_form_fields", locals: { v: v } %>
    <%= link_to t("global.actions.image.edit"), "#", class: "edit-images-link display-block" %>
    <%= v.submit t("global.actions.save") %>
  <% end %>
  <div class="form-actions">
    <%= link_to t('global.actions.cancel'), owners_venues_path(locale: I18n.locale), class: 'btn' %>
  </div>
</div>
