<div id="management_venue_listing">
  <%= render partial: "management_navigation", locals: { action_name: controller.action_name } %>
  <table class="table table-condensed">
    <tbody>
    <% @venues.each do |v| %>
      <tr>
        <td><%= link_to image_tag(v.main_image.url(:thumb), alt: v.name, class: "thumb"),
              owners_venue_path(id: v.id, locale: I18n.locale) %></td>
        <td><%= link_to v.name, owners_venue_path(id: v.id, locale: I18n.locale) %></td>
        <td>
          <%= link_to t("global.actions.show"), owners_venue_path(id: v.id, locale: I18n.locale) %>
          <%= link_to t("global.actions.edit"), edit_owners_venue_path(id: v.id, locale: I18n.locale) %>
          <%= link_to t("global.actions.delete"), owners_venue_path(id: v.id, locale: I18n.locale),
                method: :delete, confirm: t("global.misc.are_you_sure") %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
