<div id="new">
  <%= error_messages_for @venue %>
  <%= render partial: "management_navigation", locals: { action_name: controller.action_name } %>
  <%= simple_form_for @venue, url: owners_venues_path(locale: I18n.locale), method: 'post' do |v| %>
    <%= render partial: "venue_form_fields", locals: { v: v } %>
    <%= v.submit t("global.actions.create") %>
  <% end %>
  <div class="form-actions">
    <%= link_to t('global.actions.cancel'), owners_venues_path(locale: I18n.locale), class: 'btn' %>
  </div>
</div>
