<div id="show">
  <%= render partial: "management_navigation", locals: { action_name: controller.action_name } %>
  <table class="table table-condensed">
    <tbody>
      <% [:name, :description, :capacity, :size].each do |attr| %>
        <tr>
          <td><%= Venue.human_attribute_name(attr) %></td>
          <td><%= @venue.read_attribute(attr) %></td>
        </tr>
      <% end %>
        <tr>
          <td><%= Venue.human_attribute_name(:main_image) %></td>
          <td><%= image_tag @venue.main_image.url, alt: @venue.name, class: 'thumb' %></td>
        </tr>
        <tr>
          <td><%= VenueType.model_name.human %></td>
          <td><%= @venue.venue_type.name %></td>
        </tr>
      <% [:full_day, :deposit].each do |attr| %>
        <tr>
          <td><%= Pricing.human_attribute_name(attr) %></td>
          <td><%= @venue.pricing.read_attribute(attr) %></td>
        </tr>
      <% end %>
      <% [:street, :zip, :city, :directions].each do |attr| %>
        <tr>
          <td><%= Address.human_attribute_name(attr) %></td>
          <td><%= @venue.address.read_attribute(attr) %></td>
        </tr>
      <% end %>
        <tr>
          <td><%= t("global.misc.images") %></td>
          <td><%= render partial: "shared/image_gallery" %></td>
        </tr>
    </tbody>
  </table>
  <div class="form-actions">
    <%= link_to t('global.actions.edit'), edit_owners_venue_path(id: @venue.id, locale: I18n.locale),
          class: 'btn' %>
  </div>
</div>
