<h2><%= t("global.devise.forgot_passwd") %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name, locale: I18n.locale), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :email, :required => true %>
  </div>

  <div class="actions">
    <%= f.button :submit, t("global.devise.send_reset_instructions") %>
  </div>
<% end %>

<%= render "customers/links" %>
