<%= f.simple_fields_for :address do |a| %>
  <%= a.input :street, required: true, as: :string %>
  <%= a.input :zip, required: true, as: :numeric %>
  <%= a.input :directions, required: false %>
<% end %>
