<div id="error_explanation" class="alert alert-error">
  <a class="close" data-dismiss="alert">×</a>
  <h4><%= error_hash[:sentence] %></h4>
  <ul><%= raw error_hash[:messages].map { |msg| content_tag(:li, msg) }.join %></ul>
</div>
