<footer>
  <ul class="simple_menu">
    <% ['about', 'contact', 'help', 'terms'].each do |e| %>
      <li><%= link_to t("global.statics.#{e}"), public_static_path(locale: locale, id: e) %>
    <% end %>
  </ul>
</footer>
