<div id="venue-details-modal-container" class="display-none"></div>
<ul class="thumbnails">
<% @venue.gallery_images.each do |i| %>
  <li class="span1">
    <%= link_to image_tag(i.image.url(:thumb), alt: i.description), i.image.url,
          class: 'image-link thumbnail' %>
  </li>
<% end %>
</ul>
