<%= semantic_navigation :top_navigation, config: :bootstrap, class: 'nav nav-pills pull-right' do |n| %>
  <% if owner_signed_in? %>
    <%= render partial: 'shared/top_navigation/owner', locals: { n: n, locale: locale } %>
  <% end %>

  <% if customer_signed_in? %>
    <%= render partial: 'shared/top_navigation/customer', locals: { n: n, locale: locale } %>
  <% end %>

  <% if !signed_in? %>
    <%= render partial: 'shared/top_navigation/anon', locals: { n: n, locale: locale } %>
  <% end %>

  <% n.item t('global.statics.about'), public_static_path(id: 'about', locale: locale), 
    highlights_on: [{ controller: 'public/statics', action: 'show', id: 'about' }] %>
  
  <% n.item t('global.statics.contact'), public_static_path(id: 'contact', locale: locale), 
    highlights_on: [{ controller: 'public/statics', action: 'show', id: 'contact' }] %>

  <%= render partial: 'shared/top_navigation/locale', locals: { n: n, locale: locale } %>
<% end %>
