<%= form_tag(search_public_venues_path(locale: locale), method: 'get', class: 'form-inline', autocomplete: 'off') do %>
  <%= render partial: 'shared/venue_search/search_inputs' %>
  <%= render partial: 'shared/venue_search/advanced_search' %>
<% end %>
