<div id="advanced_search">
  <div class="price">
    <%= number_field_tag 'search[price_low]', @search["price_low"], in: 0..999999, placeholder: t("global.venue_search.price_low") %> -
    <%= number_field_tag 'search[price_high]', @search["price_high"], in: 0..999999, placeholder: t("global.venue_search.price_high") %> 
  </div>
  <div>
    <%=
      select_tag 'search[venue_types]',
      options_from_collection_for_select(@venue_types, "id", "name", @search["venue_types"]),
      multiple: true, class: 'chzn-select', data: { placeholder: t('global.venue_search.placeholders.venue_type') }
    %>
  </div>
</div>
