<% content_for :google_places_include do %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=#{locale}" %>
  <%= javascript_include_tag "google_places" %>
<% end %>

<% content_for :datepicker_include do %>
  <%= javascript_include_tag "datepicker" %>
<% end %>
<div>
  <%= search_field_tag('search[location]', @search["location"],
                       placeholder: t('global.venue_search.placeholders.location'),
                       class: 'venue_search_input') %>
  <%= search_field_tag('search[event_date]', @search["event_date"],
                       placeholder: t('global.venue_search.placeholders.event_date'),
                       class: 'datepicker venue_search_input') %>
  <%= button_tag t('global.venue_search.submit'), class: 'btn venue_search_input venue_search_submit' %>
</div>
