<div id="venue_details_contact">
  <% owner, addr = @venue.owner, @venue.owner.address %>
  <div id="row">
    <div class="span2"><%= image_tag owner.logo.url(:thumb), class: 'thumb' %></div>
    <div class="span6">
      <h3><%= owner.name %></h3>
      <p>
        <div><%= addr.street %></div>
        <div><%= "#{addr.zip} #{addr.city}" %></div>
        <div>email: <%= owner.email %></div>
        <div>tel: <%= owner.phone %></div>
      </p>
    </div>
  </div>
  <div class="clear"></div>
</div>
