<div id="contact_form" class="display-none">
  <%= simple_form_for(@contact_form, 
      url: contact_public_venues_path(locale: I18n.locale, id: 0),
      html: { method: :post, class: 'form-horizontal' },
      remote: true
    ) do |f| %>

    <div style="display:none;">
      <%= f.text_field :nickname %>
    </div>

    <div class="inputs">
      <%= f.input :name, label: t('global.contact_form.your_name'), required: true %>
      <%= f.input :email, label: t('global.contact_form.your_email'), required: true %>
      <%= f.input :file, label: t('global.contact_form.optional_file'), as: :file %>
      <%= f.input :message, label: t('global.contact_form.message'), required: true, as: :text, input_html: { rows: 10 } %>
    </div>

    <div class="form-actions">
      <%= f.submit t('global.actions.submit'), :class => 'btn btn-primary' %>
    </div>

  <% end %>
</div>
