<div id="venue_listing">
  <%= render partial: 'contact_form' %>
  <% @venues.each do |v| %>
    <div class="row">
      <div class="span12">
        <div class="row">
          <div class="span8">  
            <h3><%= link_to v.name, public_venue_path(locale: I18n.locale, id: v.id) %></h3>
            <h3><%= "#{t('global.venue_search.starting_from')} CHF#{v.pricing.full_day}" %></h3>
            <h4>@ <%= v.address.city %></h4>
            <p><%= truncate(v.description, length: 1000, truncate_string: "...") %></p>
            <div>
              <%= link_to t('global.venue_search.view_details'), public_venue_path(locale: I18n.locale, id: v.id), class: 'btn btn-large' %>
              <%= link_to t('global.venue_search.enquire_now'), "#", class: 'btn btn-large enquiry_link', data: { venue_id: v.id } %>
            </div>
          </div>
          <div class="span4">
            <%= link_to image_tag(v.main_image.url(:thumb), alt: v.name),
                  public_venue_path(locale: I18n.locale, id: v.id) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @venues unless @venues.empty? %>
