$("#contact_form form").children(".flash").remove();
$("#contact_form form").prepend('<%= flash_display 'flash' %>');
<% if !flash[:error] %>
  $("#contact_form").fadeOut("slow", function() {
    $(this).dialog("close");
  });
<% end %>
