<% content_for :datepicker_include do %>
  <%= javascript_include_tag "datepicker" %>
  <%= javascript_include_tag "venue_details" %>
<% end %>

<div id="venue_details" class="tabs" data-fetch-url='<%= availability_public_venue_path(id: @venue.id, locale: I18n.locale) %>'>
  <ul>
    <% ["overview","availability", "contact"].each do |tab_id| %> 
      <li><a href="#venue_details_<%= tab_id %>"><%= t("global.venue_details.#{tab_id}") %></a>
    <% end %>
  </ul>
  <%= render @venue %>
  <%= render partial: 'availability' %>
  <!-- <div id="venue_details_rating">bar!</div> -->
  <%= render partial: 'contact' %>
</div>
