<div id="upload_form" class="display-none">
  <h3><%= t("global.upload_form.uploaded_images") %></h3>
  <div id="zero_images" class="display-none"><%= t("global.upload_form.zero_images") %></div>
  <% show_table = @venue.gallery_images.any? {|i| i.persisted? } %>
  <table class="<%= "table table-condensed #{'display-none' unless show_table}" %>">
    <tbody>
      <% @venue.gallery_images.select{|i| i.persisted? }.each do |gi| %>
        <%= render partial: "owners/gallery_images/uploaded_image", locals: { gi: gi } %>
      <% end %>
    </tbody>
  </table>
    
  <h3><%= t("global.upload_form.new_image") %></h3>
  <% v = Venue.new; 2.times { v.gallery_images.build } %>
  <%= simple_form_for v,
        url: owners_gallery_images_path(locale: I18n.locale),
        html: { class: 'form-horizontal' }, method: 'post' do |v| %>
        <%= v.hidden_field :venue_id, value: @venue.id %>
      <%= v.simple_fields_for :gallery_images do |gi| %>
        <div class='image-fields'>
          <%= gi.input :image, as: 'file', input_html: { class: "uploader"} %>
          <%= gi.input :description %>
        </div>
      <% end %>
    <%= link_to t("global.upload_form.add_more_images"), "#", id: "add_images_link",
          class: 'display-block controls' %>
    <%= v.submit t("global.actions.submit"), class: 'controls'  %>
  <% end %>
</div>
