<tr id='<%= "image_#{ gi.id }" %>'>
  <td><%= image_tag gi.image_url, alt: gi.description %></td>
  <td><%= gi.description %></td>
  <td><%= link_to t("global.actions.delete"),
            owners_venue_gallery_image_path(gi.venue, gi, locale: I18n.locale),
            remote: true,
            method: 'delete' %></td>
</tr>
