$("#upload_form .flash").remove();
$("#upload_form").prepend('<%= flash_display 'flash' %>');
<% if !flash.now[:error] %>
  $("#upload_form #zero_images").hide();
  $("#upload_form table tbody")
    .append('<%= j render(partial: "uploaded_image", locals: { gi: @image }) %>')
    .closest("table")
    .show();
  $("#upload_form form input").text("");
<% end %>
