$("#upload_form .flash").remove();
$("#upload_form").prepend('<%= flash_display 'flash' %>');
<% if !flash.now[:error] %>
  $("#upload_form table tbody").children('<%= "#image_#{@image.id}" %>').remove();
  if($("#upload_form table tr").length <= 0) {
    $("#upload_form table").hide();
    $("#upload_form #zero_images").show();
  }
<% end %>

