<div id="home_search">
  <%= form_tag(search_public_venues_path(locale: locale), method: 'get', autocomplete: 'off') do %>
    <div class="">
      <%= label_tag :location, t('global.venue_search.where'), class: 'venue_search_input' %>
      <%= label_tag :location, t('global.venue_search.when'), class: 'venue_search_input' %>
    </div>
    <%= render partial: 'shared/venue_search/search_inputs' %>
  <% end %>
</div>

