# ported from jquery.rest, fills in a url's params
#
#     fillUrl('/posts/{id}', id: 10)
#
Eventutti.Utils.fillUrl = (url, data) ->
  for key, val of data
    u = url.replace('{'+key+'}', val)
    if u != url
      url = u
      delete data[key]
  return url

Eventutti.Utils.currentLocale = -> $('html').attr('lang')
Eventutti.Utils.currentLocaleHash = ->@locales[@currentLocale()]

# fetches the current locale from metas and adds it to a params hash
Eventutti.Utils.setLocale = (params) ->
  params['locale'] = @currentLocale
  return params

Eventutti.Utils.locales =
  en:
    error: <%= I18n.t('global.misc.error', locale: :en).to_json %>
    names:
      dayNames: <%= I18n.t('date.day_names', locale: :en).to_json %>
      dayNamesShort: <%= I18n.t('date.abbr_day_names', locale: :en).to_json %>
      monthNames: <%= I18n.t('date.month_names', locale: :en).to_json %>
      monthNamesShort: <%= I18n.t('date.abbr_month_names', locale: :en).to_json %>
      allDayText: <%= I18n.t('global.calendar.all_day', locale: :en).to_json %>
      firstDay: 1
      buttonText:
        prev:     '&nbsp;&#9668;&nbsp;'  # left triangle
        next:     '&nbsp;&#9658;&nbsp;'  # right triangle
        prevYear: '&nbsp;&lt;&lt;&nbsp;' # <<
        nextYear: '&nbsp;&gt;&gt;&nbsp;' # >>
        today:    '<%= I18n.t("date.names.today", locale: :en) %>'
        month:    '<%= I18n.t("date.names.month", locale: :en) %>'
        week:     '<%= I18n.t("date.names.week", locale: :en) %>'
        day:      '<%= I18n.t("date.names.day", locale: :en) %>'
  de:
    error: <%= I18n.t('global.misc.error', locale: :de).to_json %>
    names:
      dayNames: <%= I18n.t('date.day_names', locale: :de).to_json %>
      dayNamesShort: <%= I18n.t('date.abbr_day_names', locale: :de).to_json %>
      monthNames: <%= I18n.t('date.month_names', locale: :de).to_json %>
      monthNamesShort: <%= I18n.t('date.abbr_month_names', locale: :de).to_json %>
      allDayText: <%= I18n.t('global.calendar.all_day', locale: :de).to_json %>
      firstDay: 1
      buttonText:
        prev:     '&nbsp;&#9668;&nbsp;'  # left triangle
        next:     '&nbsp;&#9658;&nbsp;'  # right triangle
        prevYear: '&nbsp;&lt;&lt;&nbsp;' # <<
        nextYear: '&nbsp;&gt;&gt;&nbsp;' # >>
        today:    '<%= I18n.t("date.names.today", locale: :de) %>'
        month:    '<%= I18n.t("date.names.month", locale: :de) %>'
        week:     '<%= I18n.t("date.names.week", locale: :de) %>'
        day:      '<%= I18n.t("date.names.day", locale: :de) %>'

Eventutti.Utils.ajaxFail = (xhr, headers) ->
  locales = Eventutti.Utils.currentLocaleHash()
  $('#flashes').html """
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">×</a>
      #{locales['error']}
    </div>
  """
