<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3>
    <%= Event.model_name.human %>
    <%= t('global.actions.new') %>
    <%= t('date.day_names')[@event.start_at.wday] %>
  </h3>
</div>

<%= simple_form_for(@event,
  url: owners_events_path(@event),
  remote: true,
  html: { class: 'form-horizontal form-modal' }
) do |f| %>
  <%= f.error_notification %>

  <div class="modal-body inputs">
    <%= f.hidden_field :start_at, value: @event.start_at %>
    <%= f.hidden_field :end_at, value: @event.end_at %>
    <%= f.input :venue_id, collection: @venues, as: :select, label: Venue.model_name.human %>
    <%= f.input :all_day %>
    <%= f.input :repeats, collection: Event.repeats_collection_for_select, as: :radio_buttons %>
  </div>

  <div class="modal-footer">
    <div class="pull-left">
      <%= f.button :submit, t('global.actions.create'), class: 'btn btn-primary' %>
      <%= link_to t('global.actions.cancel'), '#', class: 'btn', data: { dismiss: 'modal' } %>
    </div>
  </div>
<% end %>
