<h2><%= t('global.devise.sign_in') %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name, locale: locale), html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :email, :required => true, :autofocus => false %>
    <%= f.input :password, :required => true %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t("global.devise.sign_in") %>
  </div>
<% end %>

<%= render "customers/links" %>
