header, footer {
  /* replacement for clear property, see http://www.quirksmode.org/css/clearing.html */
  /* overflow: hidden; cannot use because of dropdown menu */
  width: 100%;
  font-size: inherit;
  background-color: #DDD;
  padding: 1em 0;
  height: 3%;
}

footer {
  position: relative;
  clear: both;
  /* z-index: 10; */
}

footer .simple_menu {
  float: left;
}

.simple_menu {
  text-decoration: none;
  list-style-type: none;
}

.simple_menu li {
  float: left;
  padding: 0 .5em;
  border-right: 1px solid black;
}

.simple_menu > li:last-child {
  border: none;
}
