#home_search, #home_logo {
  margin: auto;
  position: relative;
  max-width: 70%;
}

#home_logo {
  text-align: center;
}

#home_search {
  font-size: 2em;
}

#home_search input, #home_search label {
  width: 42%;
}

#home_search label {
  font-size: 1.3em;
  line-height: 1.6;
}
