/* for footer */
html, body, #main { height: 100%; }

#main {
  font-size: inherit;
  padding: 1% 2% 0 2%;
  min-height: 93%;
  height: auto;
}

.display-none { display: none }
.display-block { display: block }
.clear { clear: both; }

img.thumb { height: 80px; }
textarea.text { height: 15em; }
