#edit, #new, #show {
  .string, .text {
    width: 50em;
  }
  textarea {
    height: 15em;
  }

  .edit-images-link {
    margin-bottom: 1em;
  }

  table {
    table-layout: fixed;
  }

  td:first-child {
    width: 20%;
  }
}

#management_venue_listing {
  .thumb {
    height: 1.3em;
  }

  td a {
    margin-right: .5em;
  }
}

#management_navigation {
  clear: both;
  margin-bottom: 2%;
}
