#upload_form {
  max-width: 120%;
  width: auto;

  img {
    height: 4em;
  }

  a {
    color: #0088CC;
  }

  table+h3 {
    margin-top: 3em;
  }

  #add_images_link {
    margin-bottom: 1em;
  }
}
