.venue_search_input {
  float:left;
  padding: 4px;
}

.venue_search_submit {
  width: 10%;
}

#advanced_search {
  clear: both;
}

#advanced_search .price input {
  width: 5em;
}

#advanced_search > div {
  padding-top: 1em;
}
