<div id="static">
  <h2><%= t("global.statics.#{params[:id]}") %></h2>
  <p>
    <ol>
    <% (1..3).each do |t| %>
      <li><%= raw t("global.statics.texts.terms.#{t}") %>
    <% end %>
    </ol>
  </p>
</div>
