<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title>eventutti.ch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= content_for :datepicker_include %>
  <%= content_for :google_places_include %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'shared/header' %>
<div id="main">
  <%= flash_display 'flash' %>
  <%= yield %>
</div>
<%= switch_user_select %>
<%= render partial: 'shared/footer' %>
</body>
</html>
